.navigator {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  padding: 20px 20px 0;
  background: #08080d;
}

.navigator button {
  padding: 10px 22px;
  border: 1px solid #ff3864;
  border-radius: 8px 8px 0 0;
  background: transparent;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.navigator button:hover {
  background: #ff3864;
}